* {
    padding: 0;
}

.list {
    color: rgb(0, 0, 0);
    background-color: aquamarine;
}

.list-group {
    color: rgb(0, 0, 0);
    background-color: rgb(148, 21, 120);
}

.item {
    color: #000000;
}